<div class="page lists-show">
  <nav *ngIf="list" class="js-title-nav">
    <!-- <form (submit)="add($event)" [ngFormModel]="taskForm">

      <label for="taskName">Task Name</label>
      <input type="text" id="taskName" ngControl="taskName">
      <label for="taskQty">Qty</label>
      <input type="text" id="taskQty" ngControl="taskQty">

      <button type="submit">Add</button>
    </form> -->

    <!-- <form class="js-edit-form list-edit-form" (submit)="addTodo(todoName)">
      <input name="todoName" type="text" [(ngModel)]="todoName">
      <div class="nav-group right">
        <a class="js-cancel nav-item" href="#">
          <span class="icon-close js-cancel" title="Cancel"></span>
        </a>
      </div>
    </form> -->

    <div class="nav-group">
      <a class="js-menu nav-item" href="#">
        <span class="icon-list-unordered" title="Show menu"></span>
      </a>
    </div>

    <h1 class="title-page">
      <span class="title-wrapper">{{list.name}}</span>
      <span class="count-list"></span>
    </h1>

    <div class="nav-group right">
      <div class="nav-item options-mobile">
        <select class="list-edit">
          <option disabled selected>Select an action</option>
          <option value="public">Make Public</option>
          <option value="private">Make Private</option>
          <option value="delete">Delete</option>
        </select>
        <span class="icon-cog"></span>
      </div>

      <div class="options-web">
        <a class="nav-item">
          <!-- <span class="icon-lock" title="Make list public"></span> -->
          <span class="icon-unlock" title="Make list private"></span>
        </a>
        <a class="nav-item">
          <span class="icon-trash" title="Delete list" (click)="deleteList(list)"></span>
        </a>
      </div>
    </div>

    <form (submit)="addTodo(todoName)" class="new-task todo-new input-symbol">
      <input [(ngModel)]="todoName" placeholder="Type to add new todo" type="text"/>
      <span class="icon-add"></span>
    </form>

  </nav>
  <div *ngIf="!list">
    no list
  </div>
  <div class="content-scrollable list-items">
    <ul class="list-todo">

      <li *ngFor='#todo of todos'>
        <todo-component [todo]="todo" [_listId]="_listId"></todo-component>
        <!-- <div class="list-item"> -->

        <!-- <input type="checkbox" #cb
             [ngModel]="task.checked"
             (change)="setChecked(cb.checked)"
             class="toggle-checked" /> -->

        <!-- <label class="checkbox">
            <input type="checkbox" #cb [ngModel]="todo.checked"
            (change)="setChecked(cb.checked)">
            <span class="checkbox-custom"></span>
          </label>

          <input type="text" value="{{todo.text}}">
          <a class="js-delete-item delete-item" href="#"><span class="icon-trash"></span></a>
        </div> -->
      </li>
    </ul>
   </div>
  </div>
