<div class="list-todos">
  <a class="link-list-new">
    <form class="new-task" >
    <input [(ngModel)]="listName" type="text" placeholder="Type to add new list" (keyup.enter)="addList(listName)"/>
  </form>
</a>
  <ul class="list-todo {{activeListClass}}">
    <li
        *ngFor="#list of lists"
        [class.active]="selected == list">
        <a (click)="onClick(list)" (click)="selectedChange.next(list)">{{list.name}} <span class="count-list">{{list.incompleteCount}}</span></a>
      </li>
  </ul>
</div>
